 $color-primary: green;
 $color-primary-light : rgb(118, 233, 118) ;
 $color-primary-dark: rgb(8, 68, 8);
 $color-black : black;
 $color-white: white;
 $color-grey: grey;
 $color-lightgrey1: #f7f7f7; 
 $grid-width:114rem ;
 $gutter-vertical:8rem;
 $gutter-horizontal:6rem;